 .header {
  overflow: hidden;
  background-color:#86B0BF;
  padding: 20px 10px;
	border-radius: 8px;
}

.header a {
  float: left;
  color:#273130;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: "Arial Black", Gadget, sans-serif;
}

 .header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color:#A7C0FC;
  color:#1F2257;
}

.header a.active {
  background-color:#1D2C53;
  color:#A7C0FC;
}

.header-right {
  float: right;
}

 @media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
	font-family: "Arial Black", Gadget, sans-serif;
  }
  .header-right {
    float: none;
  }
}

.about{
	position: relative;
	top: 100px;
	left: 250px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.candy{
	position:relative;
	top: 100px;
	width: 1500px;
}